*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

.inter-font{
    font-family: "Inter", sans-serif ;
    font-optical-sizing: auto;
}

/* shared styles */
.btn{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 0.75rem 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border-color: none;
    border: none ;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.btn:active, .spot:active, .msz:active{
    transform: translate(30px, 30px);
}
.btn:hover{
     background: linear-gradient(90deg, #3ff776 0%, #09fb82 51%, #00f867 100%);
}
.spot:hover{
    background: linear-gradient(90deg, #3ff776 0%, #09fb82 51%, #00f867 100%);
}
.msz:hover{
    background-color: rgb(5, 43, 7);
}








/* main styles */
header{
    background-color: #1A0B2E;
}
.tech{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2rem;
}
.wave{
     background: linear-gradient(360deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: bolder;
     font-size: 2rem;  
}
nav{
    max-width: 1600px ;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.28rem 0 ;
    
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li{
    list-style: none;  
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem ;
    line-height: 120%;
    font-weight: 500;  
}
.responsive{
    display: none;
}
header hr{
    border-color: #592c9454;
    width: 100%;
    
}

#banner{
    background-color: #1A0B2E;
    background-image: url(./assets/hero-bg.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;   
}
.logo-circle{
  position: relative; 
  max-width: 450px;
  margin: 0 auto;
  padding-top: 101px ;
 
}

.circle-img{
  width: 95%;
  height: 90%;
  /* object-fit: contain; */
}
.mic-img{
  position: absolute;
  top: 60%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 7rem;
}
.new-badge{
  position: absolute;
  top: 28%;
  right: 8%;
  background: #00FF88;
  color: #1A0B2E;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
}
.mic-down{
    text-align: center;
    margin-top: 2.5rem; 
    padding-bottom: 6.31rem; 
}
#banner p{
     font-size: 1rem;
     font-weight: 400;
     color: #FFFFFF;
     margin-top: 0.5rem;
     margin-bottom: 1.5rem;
}
#banner h1{
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
}
.spot{
    padding: 0.75rem 1rem ;
    border-radius: 10000px ;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;  
    gap: 8px ;  
    cursor: pointer;                         
}
.msz{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0.75rem 1.25rem;
    border-radius: 625rem ;
    color:#00FF88 ;
    border-color: #00FF88;
    gap: 16px ;
   
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#podcast{
    background-color: #1A0B2E;
    /* border: 1px solid #FFFFFF; */
    padding-top: 3.125rem;
    text-align: center;
    margin: 0 auto ;
}
#podcast h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
#podcast p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    /* display: none; */
}
#podcast hr{
    width: 80%;
    margin: 0 auto ;
    margin-top: 5rem;
    border-color:#51307c54 ;
    margin-bottom: 5rem;
}
.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 7.5rem;
}
.card{
  gap: 20px;
}
#podcast .card h1{
    font-size: 3rem;
    font-weight: bold ;
    color: #00ff88;   
}
#podcast .card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}
#span{
    background:#230e3d ;
    padding-top: 7.5rem; 

}
#span h2{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.span-container{
    max-width: 1200px;
    margin: 0 auto;
    gap: 1.9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 7.5rem;
    
}
.span-card{
    /* border: 2px solid magenta; */
    display: block;
    border-radius: 2.5rem;
    padding: 2.5rem 2.5rem;
    background-color: #3511650e ;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.055), -10px -10px 5px 0px rgba(0, 0, 0, 0.075);
}
.span-card h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 1rem 0 ;
}
.span-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
}
.headphone{
    grid-row: span 2 ;  
}
.device{
    grid-column: span 2 ;
}
.long{
    grid-column: span 2;
}
#y-video{
    background: #1A0B2E;
    padding-top: 7.5rem;
}

#y-video h1 {
    text-align: center;
     margin-bottom: 2.5rem;
     font-size: 2rem;
     font-weight: 700;
     color: #FFFFFF;
}
.video-cont{
    max-width: 1200px;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
    padding-bottom: 7.5rem;
}
.video-info{
    margin: 0 1.5rem;
    /* border: 1px solid navajowhite; */
}
.video-info h2{
    margin-top: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.video-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 12px 0 ;
    color: #FFFFFF;
}
.clock p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #00FF88;

}
.clock{
    display: flex;
    align-items: center;
    gap: 5px;
}
.clock img{
    max-width: 20px;
    max-height: 20px;
}
iframe{
    border-radius: 2.2rem 2.2rem 0 0 ;
}
.video-card{
    border-radius: 2.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.075), -10px -10px 5px 0px rgba(0, 0, 0, 0.062);
    

}
/* host code */
#host{
    background-color: #1A0B2E ;
    padding-bottom: 7.5rem;
}
.host-content h2{
    text-align: center;
    margin-bottom: 2.5rem ;
    font-size: 3rem ;
    font-weight: 700;
    color: #FFFFFF;
}
.host-content{
    max-width: 1200px;
    margin: 0 auto;   
}
.host-card{
    display: flex;
    padding-left: 2.5rem;
    gap: 1.5rem;
    background-color: rgba(53, 17, 101, 0.4);
    padding-top: 3rem;
    border-radius: 2.5rem;
    /* margin-bottom: 48px; */
}
.host-info{
    margin-top: 3rem;
}
.host-card h3{
    font-size: 2rem ;
    font-weight: bold;
    color: #FFFFFF;
}
.host-card p{
    margin: 1rem 0 ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
}
.host-card img {
    margin-bottom: 3rem;
}
.logo{
    display: flex;
    gap: 24px;
    height: 10vh ;
}
.logo img{
    height: 40px;
    width: 40px ;
    border-radius: 50%;
    border: 1px solid purple;
    background: none;
    padding: 5px;
}

/* footer styles */
    #foot{
        text-align: center;
        margin: 0 auto;
        background-image: url(./assets/footer-bg.png);
        /* background-position: center; */
        background-size: 100% 90%;
        /* background-repeat: no-repeat; */
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;  
    }
    #foot .tech{
        font-size: 5rem;
        font-weight:  bolder;   
    }
    #foot .wave{
        font-size: 5rem;
        font-weight: bolder ;
    }
    .foot-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .foot-logo span{
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 500;
    }

    #foot h6{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: #FAFAFA ;
    }
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

@media screen and (max-width:576px) {
    nav ul, .btn{
        display: none;
    }
    nav{
        padding: 1rem ;
    }
    .responsive{
        display: block;  
    }

    .logo-circle{
        /* margin-bottom: 20px; */
        max-width: 250px;
    }
    .span-container, .video-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* padding: 20px 20px ; */
    }
    .video-card{
        margin: 0 45px 0 45px;
    }
    .span-card{
        margin: 0 30px;
    }
    .card-container{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .mic-img{
        max-width: 50px;
        position: absolute;
        /* right: 50%; */
        top: 65%;
    }
    .host-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 35px;
    }
    .host-card .james{
        /* right: 50%; */
        width: 80%;
        margin-left: 15px;  
    }
    .foot-logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}