*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}

.inter-font{
    font-family: "Inter", sans-serif ;
    font-optical-sizing: auto;
}

/* shared styles */
.btn{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 0.75rem 2rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border-color: none;
    border: none ;
}









/* main styles */
header{
    background-color: #1A0B2E;
}
.tech{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2rem;
}
.wave{
     background: linear-gradient(360deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-weight: bolder;
    font-size: 2rem;  
}
nav{
    max-width: 1600px ;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.28rem 0 ;
    
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li{
    list-style: none;  
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem ;
    line-height: 120%;
    font-weight: 500;  
}
.responsive{
    display: none;
}
header hr{
    border-color: #592c9454;
    width: 100%;
    
}

#banner{
    background-color: #1A0B2E;
    background-image: url(./assets/hero-bg.png); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;   
}
.logo-circle{
  position: relative; 
  max-width: 450px;
  /* max-height: ; */
  margin: 0 auto;
  padding-top: 101px ;
 
}

.circle-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mic-img{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
}
.new-badge{
  position: absolute;
  top: 28%;
  right: 8%;
  background: #00FF88;
  color: #1A0B2E;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
}
.mic-down{
    text-align: center;
    margin-top: 2.5rem; 
    padding-bottom: 6.31rem; 
}
#banner p{
     font-size: 1rem;
     font-weight: 400;
     color: #FFFFFF;
     margin-top: 0.5rem;
     margin-bottom: 1.5rem;
}
#banner h1{
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
}
.spot{
    padding: 0.75rem 1rem ;
    border-radius: 10000px ;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;  
    gap: 8px ;                           
}
.msz{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0.75rem 1.25rem;
    border-radius: 625rem ;
    color:#00FF88 ;
    border-color: #00FF88;
    gap: 16px ;
   
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#podcast{
    background-color: #1A0B2E;
    /* border: 1px solid #FFFFFF; */
    padding-top: 3.125rem;
    text-align: center;
    margin: 0 auto ;
}
#podcast h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
#podcast p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #FFFFFF;
    /* display: none; */
}
#podcast hr{
    width: 80%;
    margin: 0 auto ;
    margin-top: 5rem;
    border-color:#51307c54 ;
    margin-bottom: 5rem;
}
.card-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 7.5rem;
}
.card{
  border: 1px solid palevioletred;
}
.card h1{
    font-size: 3rem;
    font-weight: bold ;
    color: #00ff88;
    /* display: none; */   
}
#span{
    background-color:#230E3D ;
    padding-top: 7.5rem; 

}
#span h2{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.span-container{
    max-width: 1200px;
    margin: 0 auto;
    gap: 1.9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.span-card{
    border-radius: 2.5rem;
    padding: 2.5rem 2.5rem;
    color: #351165 ;
    box-shadow: 0 4px 4px 0  #0000003f ;
}
.span-card h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 1rem 0 ;
}
.span-card p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #FFFFFF;
}
.headphone{
    grid-row: span 2 ;  
}
.device{
    grid-column: span 2 ;
}
.long{
    grid-column: span 2;
}



@media screen and (max-width:576px) {
    nav ul, .btn{
        display: none;
    }
    nav{
        padding: 1rem ;
    }
    .responsive{
        display: block;  
    }

    .logo-circle{
        /* margin-bottom: 20px; */
    }
    .span-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 20px ;
    }


}